CompileFlags:
  Add: [-xc++, -std=c++23, -Wall, -Wextra, -I., -I.. ]
  Remove: -W*
  Compiler: clang++
Diagnostics:
  ClangTidy:
    Add: [modernize*, bugprone*, readability*]
    Remove: [readability-static-accessed-through-instance]
